<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Digital Scholarship Summer Fellows Program</a></li>
                    <li><a href="{{ '/syllabus.html' | relative_url }}">Syllabus</a></li>
                    <li><a href="https://github.com/digbmc/dssf-syll">GitHub</a></li>
                </ul>
            </nav>
        </header>
        <main>
        <h1> {{ page.title }}</h1>
        {{ content }}
        </main>
    </body>
</html>